.navbar_main_navbar_cnt {
  position: fixed;
  top: 0;
  z-index: 10;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 3000;
  transform: all 300ms ease;
}

.transparent {
  background-color: transparent;
  position: absolute;
  top: 20px;
}
.black_bg {
  background-color: black;
}
.red_dot_as{
  position: absolute;
  top: 0;
  left: 60%;
  height: 7px;
  width: 7px;
  z-index: 100;
  background-color: rgb(255, 51, 51);
  border-radius: 50%;
  transition: all 300ms ease;
}
.navbar_flex_cnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar_logo_image_top {
  width: 70px;
}
.navbar_linker {
  display: flex;
  align-items: center;
}
.linker_a {
  margin: 0 1.8em;
  font-size: 1.1em;
  font-weight: 200;
  letter-spacing: 1px;
  color: #c5c5c5;
  font-family: "poppins";
  transition: all 300ms ease;
}
.linker_a:hover{
  color: white;
}
.linker_search_image_icon {
  height: 20px;
  cursor: pointer;
  margin-left: 1.8em;
}

.bold {
  font-weight: 400;
  color: white;
}
.navbar_menu_icon_button {
  display: none;
  height: 25px;
}

/* Main Menu */
.navbar_menu_icon_button_cross {
  position: absolute;
  top: 25px;
  cursor: pointer;
  right: 15px;
  height: 20px;
}
.main_menu_cnt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.918);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 200ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_menu_links {
  display: flex;
  flex-direction: column;
}
.main_menu_links a {
  text-align: center;
  margin: 18px 0;
}

/* Search Menu */

.search_menu_cnt {
  position: absolute;
  right: -100%;
  top: calc(100% + 15px);
  background-color: black;
  z-index: -1;
  height: 40px;
  border-radius: 5px;
  width: min(100% - 30px, 500px);
  transition: all 500ms ease;
}
.search_div_menu {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.navbar_menu_icon_button_cross_search {
  cursor: pointer;
  right: 15px;
  height: 10px;
  margin: auto;
}
.search_menu_input {
  height: 100%;
  width: calc(100% - 60px);
  background-color: black;
  color: white;
  outline: none;
  border: none;
  padding: 0px 10px;
}
.search_results {
  margin-top: 5px;
  min-height: 0px;
  position: absolute;
  top: 100%;
  left: 0;
  height: auto;
  overflow-y: scroll;
  max-height: 300px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 10px;
  transition: all 300ms ease;
}
.search_results_a {
  display: block;
  font-family: "poppins";
  padding: 10px;
  background-color: #a1a1a1;
  font-size: 0.8em;
  color: black;
}
.SearchBarContentDropDownContent_re::-webkit-scrollbar {
  width: 5px;
}
.ZRlogoHeaderMainCntContent {
  width: 60px;
}
/* Track */
.SearchBarContentDropDownContent_re::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.SearchBarContentDropDownContent_re::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.SearchBarContentDropDownContent_re::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Header */

.HeaderMainCnt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0px;
  background-color: white;
}
.HeaderMainCntContentH1 {
  color: #2a6280;
  text-align: center;
  font-size: 2.5em;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 500;
  line-height: 93.5%;
  width: min(100% - 160px, 600px);
  letter-spacing: -2.4px;
}
.HeaderMainCntContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SearchBar Browse Items */

.SearchBarCnt {
  position: relative;
  z-index: 20;
  padding: 2em 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.SearchBarContent {
  display: flex;
  width: min(100% - 10px, 700px);
  justify-content: space-between;
  align-items: center;
}
.SearchBarContentBtnSearch {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.category_drop_down_a {
  color: #555;
  display: block;
  font-family: "poppins";
  padding: 5px 0px;
  border-bottom: 1px solid #a1a1a1;
  font-size: 0.9em;
}
.category_drop_down_a:hover{
  background-color: rgba(0, 0, 0, 0.062);
}
.SearchBarContentDropDown {
  position: relative;
}
.SearchBarContentDropDownBtn {
  border: none;
  outline: none;
  background-color: #2a6280;
  padding: 10px 20px;
  font-size: 0.9em;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Poppins";
  color: white;
}
.SearchBarContentDropDownContent {
  display: none;
  position: absolute;
  overflow: hidden;
  top: 100%;
  border-radius: 10px;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.188);
  padding: 10px;
  left: 0;
  transition: all 200ms ease;
}
.SearchBarContentDropDownContent_re {
  display: block;
  position: absolute;
  overflow: hidden;
  top: 100%;
  border-radius: 10px;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.188);
  padding: 10px;
  left: 0;
  transition: all 200ms ease;
  min-height: 0px;
  height: auto;
  overflow-y: scroll;
  max-height: 300px;
}
.SearchBarContentInputFeild {
  background-color: #f1f1f1;
  margin-left: 5px;
  padding: 10px 20px;
  font-size: 0.9em;
  border-radius: 25px;
  outline: none;
  border: none;
  font-family: "poppins";
}
.SearchBarContentCallCart {
  display: flex;
}
.SearchBarCntCallimg {
  height: 20px;
  padding: 0px 15px;
}
.rennn{
  transition: all 300ms ease;
}
.rennn:hover{
  transform: translateY(-3px);
}

.SearchBarCntCallDiv {
  display: flex;
  align-items: center;
}
.SearchBarCntCallPara {
  font-family: "poppins";
  color: #a1a1a1;
  text-decoration: underline;
  font-size: 0.9em;
  transition: all 300ms ease;
}
.SearchBarCntCallPara:hover{
  transform: translateY(-3px);
}
.border_both_img {
  border-left: 1px solid #a1a1a1;
  border-right: 1px solid #a1a1a1;
}
.SearchBarContentInputFeildDiv{
  position: relative;
}

.SearchBarContentDropDownBtn:hover + .SearchBarContentDropDownContent {
  display: block;
}
.SearchBarContentDropDownContent:hover{
  display: block;

}
.show{
  top: -100%;
}
.hide{
  top: 0%;
}
/* Media Quries */

@media only screen and (max-width: 700px) {
  .navbar_menu_icon_button {
    display: block;
  }
  .navbar_linker {
    display: none;
  }
  .SearchBarContentDropDownBtn{
    font-size: .7em;
    padding: 10px 10px;
  }
  .SearchBarContentInputFeild{
    font-size: .7em;
    padding: 10px;
    width: auto;
  }
  .SearchBarContentBtnSearch{
    width: 100%;
    justify-content: start;
  }
  .SearchBarContent{
    flex-direction: column-reverse;
  }
  .SearchBarContentCallCart{
    margin-bottom: 1.5em;
  }
  .HeaderMainCntContentH1 {
    font-size: 1.5em;
    width: auto;
  }
  .ZRlogoHeaderMainCntContent {
    width: 40px;
  }
}
@media only screen and (max-width: 380px) {
  .SearchBarContentDropDownBtn{
    pad: 10px 5px;
    font-size: .65em ;
  }
  .SearchBarContentInputFeild{
    font-size: .65em;
    padding: 10px 5px;
    width: auto;
  }
  .SearchBarContentDropDownContent_re{
    left: -30px;
  }
  
}
